/************* GENERAL CSS ************/

body {
	margin: 0px;
	padding: 0px;
	background: #7D110C url(images/back-footer.png) repeat-y center top;
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000
}

h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Book Antiqua, "Times New Roman", Times, serif;
	color: #7D110C;
}

a {	
	text-decoration: none;
	color: #0066CC;
}

a:hover {
	text-decoration: underline;
	color: #0066CC;
}

/************* MENU ************/

#menu {
	width: 1019px;
	margin: 0px auto;
	padding: 0px 0px 0px 0px;
	background-color: #FFFFFF;
}

#menul {
	float: left;
	width: 400px;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	background-color: #FFFFFF;
}

#menur {
	float: right;
	width: 619px;
	margin: 0px auto;
	padding: 52px 0px 52px 0px;
	background-color: #FFFFFF;
}

#menur ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

#menur li {
	display: inline;
}

#menur a {
	padding: 5px 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	color: #7D110C;
}

#menur a:hover {
	background-color: #7D110C;
	color: #FFFFFF;
}


/************* IMGBREAK STUFF ************/

#imgbreak {
	width: 1020px;
	height: 400px;
	margin: 0px auto;
	padding: 2px 0px 2px 0px;
	background: #82786F;
}

#imgbreak h1 {
	margin: 0px;
	padding: 0px 0px 0px 10px;
	text-align: left;
	color: #FFFFFF;
	font-size: 3em;
}

#imgbreak h2 {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	text-align: left;
	font-size: 1.5em;
	text-transform: uppercase;
}


/************* CONTENT ************/

#content {
	width: 1020px;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
}

#content h2, #content h3, #content h4, #content h5, #content h6 {
	font-weight: normal;
}

#content p, #content ul, #content ol {
	line-height: 150%;
}

#left {
	float: left;
	width: 980px;
	padding: 0px 20px 40px 20px;
}

/************* FOOTER ************/

#footer {
	clear: both;
	width: 1021px;
	margin: 0px auto;
	border-top: 1px solid #666666;
	background: url(images/back-footer.png) repeat-y center top;
	font-size: 9px;
	text-align: center;
	padding: 2px;
	color: #333333;
}
